.header {
  padding-top: 87px;
  padding-bottom: 96px;
  padding-left: 24px;
  padding-right: 24px;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__links-list {
  display: flex;
  align-items: center;
  list-style: circle;
  justify-content: flex-start;
  padding: 0px;
  gap: 0 32px;
}

.header__links-list-item {
  width: 100%;
  text-decoration: underline;
  font-family: Raleway, Arial, sans-serif;
  line-height: normal;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  color: #000;
}

.header__links-list-item_no-bullit {
  text-decoration: none;
  list-style-type: none;
  list-style: none;
}

.address {
  flex-direction: column;
  list-style-type: none;
}

.header_right_menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header_logo {
  justify-content: center;
  display: flex;
  align-items: center;
}

.header_image {
  width: 148px;
  height: 105px;
}

a {
  text-underline-offset: 4px;
}

.info-list {
  list-style: none;
  width: 100%;
  color: #000;
  font-family: Raleway, Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px;
}

.cover {
  height: 100%;
  width: 100%;
  background-image: url("../images/cover.jpg");
  display: block;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  padding: 0px;
}

.overlay {
  width: 100%;
  height: 100%;
  opacity: 0.6;
  inset: 0;
  position: absolute;
  background: #000;
}

.cover_title {
  display: grid;
  flex-direction: column;
  gap: 15px;
  font-family: Raleway, Arial, sans-serif;
  padding: 165px 0px 0px 24px;
  font-style: normal;
  font-size: 100px;
  font-weight: 700;
  z-index: 5;
  color: white;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  position: relative;
  z-index: 4;
  text-align: start;
}

.aligned-text_center {
  z-index: 4;
  display: block;
  position: relative;
  align-items: flex-start;
  line-height: 100%;
  padding-left: 30px;
  text-align: center;
}

.aligned-text_right {
  z-index: 4;
  display: block;
  position: relative;
  text-align: right;
}

.letter-spacing-title {
  letter-spacing: 60px;
}

.cover__description {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  height: 100%;
  padding-right: 21px;
  padding-top: 123px;
  padding-bottom: 52px;
  gap: 86px;
}

.cover__description-text {
  color: #FFF;
  text-align: center;
  font-family: Raleway, Arial, sans-serif;
  height: 100%;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  position: relative;
  word-spacing: 17px;
}

.bet-button {
  height: 52px;
  width: 257px;
  color: #FFF;
  text-align: center;
  font-family: Raleway, Arial, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  display: block;
  position: relative;
  background-color: transparent;
  border-color: white;
}

.lots {
  margin-top: 180px;
  width: 100%;
  display: flex;
  padding-left: 24px;
  padding-right: 24px;
  flex-direction: column;
  justify-content: space-between;
}

.lots__card-list {
  width: 100%;
  display: flex;
  gap: 25px;
  justify-content: flex-start;
}

.lots__heading {
  color: #000;
  font-family: Raleway, Arial, sans-serif;
  ;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding-left: 26px;
  padding-bottom: 27px;
}

.lots__card-list-item {
  display: flex;
  width: 334px;
  height: 600px;
  flex-grow: 1;
}

.card {
  background-size: cover;
  background-repeat: no-repeat;
}

.card_type_film {
  background-image: url(../images/card-lot-01.png);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
  display: flex;
  gap: 10px;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
}

.card__title {
  color: #FFF;
  font-family: Raleway, Arial, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  position: relative;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  color: #FFF;
  font-family: Raleway, Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  position: relative;
}

.lots__look-more-link {
  color: #000;
  font-family: Raleway, Arial, sans-serif;
  max-width: fit-content;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 26px;
  padding-top: 30px;
  text-decoration: underline;
}

.about {
  width: 100%;
  height: 100%;
  margin-top: 181px;
  display: grid;
  grid-template-columns: 430px auto;
  gap: 25px;
}

.about__column {
  display: flex;
  justify-content: center;
}

.about__logo {
  width: 240px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 125px;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__column-text {
  flex-direction: column;
  gap: 93px;
  padding-top: 103px;
}

.about__title {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.about__texts {
  font-weight: 400;
  line-height: normal;
  font-size: 20px;
  font-weight: 400;
  font-family: Raleway, Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
}

.footer_left_adress {
  display: grid;
  align-items: center;
  justify-content: flex-start;
  line-height: 22px;
}

.footer_menu {
  list-style-type: none;
  list-style: none;
  justify-content: center;
  align-items: start;
  display: flex;
  color: #000;
  text-align: center;
  font-family: Raleway, Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.footer {
  display: grid;
  grid-template-columns: 240px 150px 240px;
  justify-content: space-between;
  margin-top: 175px;
  padding-bottom: 90px;
  padding-left: 24px;
  padding-right: 24px;
}

.footer__media-icon {
  width: 48px;
  height: 48px;
}

.footer__media-list {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}